@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
}


html, body{
    height: 100%; 
     margin: 0;
     font-family: 'Poppins', arial;
 }

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

 a {
     text-decoration: none;
 }

 img {width: 100%;}

 .nav-container {
     background-color: #6082b6;

     a {
         color: #f5cba7
     }
 }

 header {
     display: flex;
     justify-content: space-between;
     padding: 2em;

     .logo {
         color: #fff;
         font-weight: bold;
         font-size: 1.3rem;
         text-shadow: 1px 3px 4px #708090;
     }



    ul {
        display: flex;
        
        a {
            display: block;
            padding: 0 1em;
        }
    }
} 

.social-header, .hero-design {
    display: none;
}

 .hero {
     background: #6082b6;
     color: #05386b;
     display: grid;
     text-align: center;
     padding: 4em;
 }

 .meet {
     display: flex;
     margin: 0 auto;
     width: 200px;
     font-weight: bold;
     color: #f5cba7;

     span {
         margin-top: 1em;
         margin-right: .4em;
     }
 }

 .scroll {
     width: 30px;
     margin-top: 2em;
 }

 section {
     padding: 4em 2em;
     text-align: center;
 }

 .featured {
     position: relative;
 }
 .featured::before {
     content: "";
     position: absolute;
     width: 200px;
     height: 200px;
     border-radius: 50%;
     background: #fddde6;
     opacity: 70%;
     top: 0;
     left: 0;
     z-index: -1;
 }

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #05386b;
    letter-spacing: .65em;
    font-size: .9em;
}

.featured-resume {
    color: black;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: -1.5em;
    display: block;
}

.featured-desc {
    color: darkslategray;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 450;
}

.index-skills {
    background: #6082b6;
}

.index-skills-container ul li {
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1.5em;
    place-content: center;

    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;
        padding-bottom: 1.1em;

        &.one {
            width: 105px;
        }
        &.two {
            width: 110px;
        }
        &.three {
            width: 115px;
        }
    }

    .index-skill-title {
        font-weight: bold;
        margin-bottom: .25em;
    }

    .featured-desc {
        margin-bottom: 2em;
    }
}

.portfolio


.portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
    height: 100px;
    display: grid;
    place-content: center;
}

.right2 {
    width: 100px;
}
 

//* Footer CSS *//


footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: .85rem;
}

.footer-socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2.75rem 0;
}

.footer-socials li {
    margin: 0 10px;
}

.footer-socials a {
    text-decoration: none;
    color: #fff;
}

.footer-socials a i {
    font-size: 1.5rem;
    transition: color .4s ease;
}

.footer-socials a:hover i {
    color: #6082b6;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 35%;
    font-weight: 300;
}

//* end footer *//

//* begin about me page *//

.aboutbody {
    background: #6082b6;
}

.about-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

.fade-in-text {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    color: black;
    animation: fadeIn linear 4s;
    -webkit-animation: fadeIn linear 4s;
    -moz-animation: fadeIn linear 4s;
    -o-animation: fadeIn linear 4s;
    -ms-animation: fadeIn linear 4s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }



.about-header a{
    color: #f5cba7;
}


.about-container h1 {
    color: #fef5e7;
    font-size: 3.25rem;
    font-weight: 715;
    letter-spacing: 7.5px;
    margin-bottom: 1.75rem;
}

.about-container h2 {
    color: #f5cba7;
    font-size: 1.8rem;
    letter-spacing: 5px;
    font-weight: 775;
}

.about-container img {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    width: 250px;
    height: auto;
    border-radius: 55%;
}

.about-container p {
    font-size: 1rem;
    color: white;
    line-height: 2rem;
    margin-bottom: 4rem;
}

.about-btn {
    display: inline-block;
    padding: .8rem 1.5rem;
    margin-bottom: 3rem;
    background: #f6f6f6;
    font-size: 1rem;
    text-decoration: none;
    color: #05386b;
    border-radius: 10px;
    transition: background 0.5s;
}

.about-btn:hover {
    background: #ffdead;
}

//* skills page css *//

.skills-body {
    background-color: #6082b6;
}

.skills-inner {
    padding-top: 30px;
    padding-bottom: 30px;
}

.skills-header {
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
}

.skills-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #2ecc71;
    border-radius: 2px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.15rem;
}

.skill-box {
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before {
    width: 35px;
}

.skill-box:hover .skill-img {
    transform: translateY(-10px);
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: .5s;
}

.skill-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
    transition: .5s;
}

.skill-img {
    width: 85px;
    height: 85px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.skill-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 85px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
    opacity: 55%;
}

.skill-title h3 {
    color: #fff;
    margin-top: 0.5rem;
}

.skill-icon {
    width: 50px;
}

.skill-icon-html {
    width: 75px;
}

.skill-icon-alteryx {
    width: 65px;
}



@media screen and (max-width: 990px){
    .skills-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width: 650px){
    .skills-container{
        grid-template-columns: 1fr;
    }
}

//* my work *//

.my-work {
    background-color: #6082b6;
    color: white;
    text-align: center;
    font-size: 1.25rem;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 0 auto;
    margin-bottom: 1.5em;
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: transform 700ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .55;
}

 
